@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Fredericka the Great", cursive;
  font-size: 18px;
  font-weight: 400;
}
a {
  text-decoration: none;
  transition: all 500ms ease-in-out;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 600px) {
    flex-direction: row;
    align-items: stretch;
  }

  > div {
    color: #efe483;
    background: #9d9000;
    a {
      color: #efe483;
      &:hover {
        color: #fff;
      }
    }
    h1 {
      font-size: 4em;
      padding: 0.5em;
      font-weight: 400;
    }
    h2 {
      font-size: 2em;
      padding: 0.5em;
      font-weight: 400;
    }
  }
}

@import "grid";
@import "detail";
