.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: 1em;
}
.recipe {
  padding: 1em;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 2em;
  text-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 1);

  h2 {
    font-size: 2em;
    text-align: center;
    margin: 0.5em 0;
  }
  h3 {
    font-size: 1.3em;
    text-align: center;
    margin: 1em 0;
  }
  img {
    width: 100%;
    border-radius: 1em;
  }
  ul {
    li {
      margin: 0.15em 0 0.15em 2em;
      p {
        margin: 0;
      }
    }
  }
}
