form {
  h2 {
    margin-top: 2em;
  }
  .form-group {
    margin: 1em 0;
  }
  label {
    display: block;
    cursor: pointer;
  }
  .info {
    font-size: 0.8em;
    text-align: center;
    color: #666;
  }
  input,
  select,
  textarea {
    width: 100%;
    margin: 0.25em 0;
    padding: 0.75em 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
  }
  input[type="checkbox"] {
    width: auto;
  }
  input[type="submit"] {
    font-weight: 600;
    font-size: 1.1em;
    text-transform: uppercase;
  }
  .checkbox-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-gap: 0.5em;
  }
  .ingredient {
    padding: 1em;
    margin: 1em 0;
    background: #eee;
    border-radius: 0.5em;
    > label {
      margin: 0.5em 0 0 0;
    }
    .remove {
      margin: 1em 0;
    }
  }
}
