<nav id="recipe-category-btns">
  <button data-recipe-category="0" class="active">all</button>
  <button data-recipe-category="1">soup</button>
  <button data-recipe-category="2">meat</button>
  <button data-recipe-category="3">meat free</button>
  <button data-recipe-category="4">dessert</button>
  <button data-recipe-category="5">sauce</button>
  <button data-recipe-category="6">pasta</button>
  <button data-recipe-category="7">salad</button>
  <button data-recipe-category="8">sweet</button>
  <button data-recipe-category="9">drink</button>
</nav>
