<div class="filter-main">
  <button class="active">all</button>
  <button data-filter="filter-category">Category</button>
  <button data-filter="filter-dish">Dish</button>
  <button data-filter="filter-tolerance">Tolerance</button>
</div>
<div class="filter">
  <nav id="filter-dish">
    <button data-dish-category="1">breakfast</button>
    <button data-dish-category="2">soup</button>
    <button data-dish-category="3">main course</button>
    <button data-dish-category="4">dessert</button>
    <button data-dish-category="5">dinner</button>
  </nav>
  <nav id="filter-category">
    <button data-recipe-category="1">soup</button>
    <button data-recipe-category="2">meat</button>
    <button data-recipe-category="3">meat free</button>
    <button data-recipe-category="4">dessert</button>
    <button data-recipe-category="5">sauce</button>
    <button data-recipe-category="6">pasta</button>
    <button data-recipe-category="7">salad</button>
    <button data-recipe-category="8">sweet food</button>
    <button data-recipe-category="9">drink</button>
  </nav>
  <nav id="filter-tolerance">
    <button data-tolerance="1">vegetarian</button>
    <button data-tolerance="2">vegan</button>
    <button data-tolerance="3">nuts</button>
    <button data-tolerance="4">gluten</button>
    <button data-tolerance="5">lactose</button>
    <button data-tolerance="6">spicy</button>
    <button data-tolerance="7">alcohol</button>
    <button data-tolerance="8">sea food</button>
    <button data-tolerance="9">mushrooms</button>
  </nav>
</div>
