#recipes {
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  > div {
    border-radius: 0.6em;
    padding: 1em;
    transition: all 0.25s ease-in-out;
    background-color: rgba(0, 0, 0, 0.2);
    > h2 {
      color: #fff;
      font-size: 1.2em;
      margin: 0.5rem 0;
    }
    > p {
      font-size: 0.9em;
      margin: 0.5rem 0;
      text-align: left;
    }
    &:hover {
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.3);
    }
    > div {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      margin: 0.5rem 0;
      > button {
        padding: 0.75em 0.75em 0.5em 0.75em;
      }
      > p {
        margin: 0;
        padding: 0;
        text-align: left;
        font-size: 0.9em;
      }
    }
  }
}
