<h1>Recipe Form</h1>
<form id="recipe-form" method="POST">
  <div class="form-group">
    <label
      >Name:
      <input type="text" name="name" value="{name}" />
    </label>
  </div>

  <div class="form-group">
    <label
      >Difficulty:
      <select name="difficulty" size="3">
        <option value="1" {difficulty_1}>simple</option>
        <option value="2" {difficulty_2}>medium</option>
        <option value="3" {difficulty_3}>difficult</option>
      </select>
    </label>
  </div>

  <div class="form-group">
    <label
      >Duration (minutes):
      <input
        type="number"
        min="1"
        step="1"
        name="duration"
        value="{duration}"
      />
    </label>
  </div>

  <div class="form-group">
    <label
      >Price:
      <select name="price" size="3">
        <option value="1" {price_1}>cheap</option>
        <option value="2" {price_2}>medium</option>
        <option value="3" {price_3}>expensive</option>
      </select>
    </label>
  </div>

  <div class="form-group">
    <label>Description:</label>
    <textarea name="description" rows="6">{description}</textarea>
  </div>

  <div class="form-group">
    <label
      >Country (ISO 3166, cz, pl, uk, de...):
      <input type="text" name="country" value="{country}" />
    </label>
  </div>

  <div class="form-group">
    <div>Dish Category:</div>
    <div class="checkbox-group">
      <label>
        <input
          type="checkbox"
          name="dish_category[]"
          value="1"
          {dish_category_1}
        />
        breakfast
      </label>
      <label>
        <input
          type="checkbox"
          name="dish_category[]"
          value="2"
          {dish_category_2}
        />
        soup
      </label>
      <label>
        <input
          type="checkbox"
          name="dish_category[]"
          value="3"
          {dish_category_3}
        />
        main course
      </label>
      <label>
        <input
          type="checkbox"
          name="dish_category[]"
          value="4"
          {dish_category_4}
        />
        dessert
      </label>
      <label>
        <input
          type="checkbox"
          name="dish_category[]"
          value="5"
          {dish_category_5}
        />
        dinner
      </label>
    </div>
  </div>

  <div class="form-group">
    <div>Recipe Category:</div>
    <div class="checkbox-group">
      <label>
        <input
          type="checkbox"
          name="recipe_category[]"
          value="1"
          {recipe_category_1}
        />
        soup
      </label>
      <label>
        <input
          type="checkbox"
          name="recipe_category[]"
          value="2"
          {recipe_category_2}
        />
        meat
      </label>
      <label>
        <input
          type="checkbox"
          name="recipe_category[]"
          value="3"
          {recipe_category_3}
        />
        meat free
      </label>
      <label>
        <input
          type="checkbox"
          name="recipe_category[]"
          value="4"
          {recipe_category_4}
        />
        dessert
      </label>
      <label>
        <input
          type="checkbox"
          name="recipe_category[]"
          value="5"
          {recipe_category_5}
        />
        sauce
      </label>
      <label>
        <input
          type="checkbox"
          name="recipe_category[]"
          value="6"
          {recipe_category_6}
        />
        pasta
      </label>
      <label>
        <input
          type="checkbox"
          name="recipe_category[]"
          value="7"
          {recipe_category_7}
        />
        salad
      </label>
      <label>
        <input
          type="checkbox"
          name="recipe_category[]"
          value="8"
          {recipe_category_8}
        />
        sweet food
      </label>
      <label>
        <input
          type="checkbox"
          name="recipe_category[]"
          value="9"
          {recipe_category_9}
        />
        drink
      </label>
    </div>
  </div>

  <div class="form-group">
    <div>Tolerance:</div>
    <div class="checkbox-group">
      <label>
        <input type="checkbox" name="tolerance[]" value="1" {tolerance_1} />
        vegetarian
      </label>
      <label>
        <input type="checkbox" name="tolerance[]" value="2" {tolerance_2} />
        vegan
      </label>
      <label>
        <input type="checkbox" name="tolerance[]" value="3" {tolerance_3} />
        nuts
      </label>
      <label>
        <input type="checkbox" name="tolerance[]" value="4" {tolerance_4} />
        gluten
      </label>
      <label>
        <input type="checkbox" name="tolerance[]" value="5" {tolerance_5} />
        lactose
      </label>
      <label>
        <input type="checkbox" name="tolerance[]" value="6" {tolerance_6} />
        spicy
      </label>
      <label>
        <input type="checkbox" name="tolerance[]" value="7" {tolerance_7} />
        alcohol
      </label>
      <label>
        <input type="checkbox" name="tolerance[]" value="8" {tolerance_8} />
        sea food
      </label>
      <label>
        <input type="checkbox" name="tolerance[]" value="9" {tolerance_9} />
        mushrooms
      </label>
    </div>
  </div>

  <h2>Ingredients</h2>
  <div id="ingredients">{ingredients}</div>
  <div class="form-group">
    <button type="button" onclick="addIngredient()">Add Ingredient</button>
  </div>
  <h2>Author</h2>
  <div class="form-group">
    <label
      >Id: <input type="number" step="1" name="author_id" value="{author_id}"
    /></label>
  </div>
  <div class="form-group">
    <label
      >Name: <input type="text" name="author_name" value="{author_name}"
    /></label>
  </div>
  <div class="form-group">
    <label
      >Password: <input type="password" name="author_password" value=""
    /></label>
  </div>
  <h2>Recipe identification</h2>
  <div class="form-group">
    <label
      >Id:
      <input
        type="number"
        step="1"
        min="0"
        name="recipe_id"
        value="{recipe_id}"
    /></label>
    <p>For loading/updating/deleting an existing recipe</p>
  </div>
  <div class="form-group">
    <h2>Actions</h2>
  </div>
  <div class="form-group">
    <input type="submit" value="validate recipe" name="action" />
    <p class="info">Validate recipe in form through API call.</p>
  </div>
  <div class="form-group">
    <input type="submit" value="add recipe" name="action" />
    <p class="info">Add new recipe to the database through API call.</p>
  </div>
  <div class="form-group">
    <input type="submit" value="load recipe" name="action" />
    <p class="info">Load recipe from the database through API call.</p>
  </div>
  <div class="form-group">
    <input type="submit" value="update recipe" name="action" />
    <p class="info">
      Update data of the recipe in the database through API call.
    </p>
  </div>
  <br />
  <div class="form-group">
    <input class="remove" type="submit" value="remove recipe" name="action" />
    <p class="info">Remove recipe from the database through API call.</p>
  </div>
</form>
