.fruit {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  @media screen and (min-width: 900px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  &.apple {
    color: #fff5de;
    background: linear-gradient(135deg, #760000, #320000);
  }
  > div {
    padding: 4em;
    @media screen and (min-width: 900px) {
      width: 50%;
    }
    text-align: center;

    &:first-of-type {
      h1 {
        padding: 0 0 1em 0;
        font-size: 4em;
        color: #fff5de;
      }
      p {
        padding: 1em 0 0 0;
      }
    }
    img {
      width: 100%;
    }
  }
}
